body {
    background-color: #C4C4C4;
    max-width: 100%;
}
nav {
    background-color: #726666;
}

img {
    margin-bottom:10px;
    width: 288px;
    height: 182px;
}
header {
    background-color: #ffffff;
    height: 1000px;
}

.card {
    padding:12px;
    background-color: white;
}

.card__title {
    color: #282828;
    font-size: 14px;
}

.card__description {
    color: #282828;
    font-size: 12px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media screen and (max-width:768px) {
    .card__description {
        color: #282828;
        font-size: 8px;
    }
  }

@media screen  and (min-width:320px) {
    .card__description {
        display: none;
    }
    .card__title {
        font-size: 10px;
    }
}