body {
  background-color: #c4c4c4;
}
nav {
  background-color: #726666;
}

img {
  margin-bottom: 10px;
  width: 288px;
  height: 182px;
}
header {
  background-color: #ffffff;
  height: 1000px;
}

.card {
  padding: 12px;
  background-color: white;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

.card-container {
  display: flex;
}
